ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111;
}

ul.navbar li:last-child {
    float: right;
}

/* diables Active Page  */

/* Styling for the active page */
.navbar li.active {
    background-color: #111;
}

.navbar li.active a {
    pointer-events: none;
    /* Disables clicking on the anchor tag */
    
    /* Darkens the anchor tag */
}