ul {
  list-style: none;
  background: #171818;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  background: #171818;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: #2a2c35;
}
ul li:hover ul.dropdown {
  display: block;
}

li.logout{
    float: right;
}