body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #171818;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
/* ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown  {
  background: #333;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: #555;
}
ul li:hover ul.dropdown {
  display: block;
}

li.logout {
  float: right;
} */

nav ul li ul.dropdown {
  background-color: #333;
  position: absolute;
  z-index: 999; 
  display: none;
}

nav ul li:hover ul.dropdown {
  display: block;
}

nav ul li:hover a {
  background-color: #555;
  color: #171818;
}

nav ul li ul.dropdown li {
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

li.logout {
  float: right;
  margin-right: 20px;
}
