
.login-container {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container h2 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  color: black;
}
.form-control {
  background-color: rgba(109, 105, 105, 0.2);
  border: none;
  color: #fff;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.welcome-text{
  color: black;
  margin: 50px;
}